/* Main */
.titlecontac{

    margin-top: 30px;
    margin-left: -40px;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: brown;

}

[href]{

    text-decoration: none;
    color: brown;

}

.textcontac{

    margin-top: 50px;
    margin-left: -40px;

}

form{

    margin-top: 158px;

}

.form-select{

    margin-bottom: 20px;

}

.form-control{

    margin-bottom: 20px;

}


.form-check-label{

    margin-bottom: 20px;
    
}

#buttonsent{

    width: 100%;
    background-color: brown;
    border-color: brown;

}