.titlecontac{

    margin-top: 10%;
    /* margin-left: -12.2%; */
    font-size: 400%;
    font-family: 'Anton', sans-serif;
    color: brown;

}

.textcontac{

    margin-top: 5%;
    /* margin-left: -12.2%; */

}

form{

    margin-top: 15%;

}

.form-select{

    margin-bottom: 4%;

}

.form-control{

    margin-bottom: 4%;

}

.form-check-label{

    margin-bottom: 4%;
    
}

#buttonsent{

    width: 100%;
    background-color: brown;
    border-color: brown;

}