.container{

    margin-top: 4%;


}

div h1{

    margin-bottom: 1.5%;
    margin-left: -6%;
    font-size: 400%;
    font-family: 'Anton', sans-serif;
    color: brown;
    
}

.link:hover{

    color: #6e6d6d;

}

[href]{

    text-decoration: none;
    color: brown;

}

a h2{

    
    font-size: 160%;
    font-family: 'Anton', sans-serif;
    color: brown;

}

.row{

    margin-bottom: 20px;

}