body {
    margin: 0;
}

#nav {
    background-color: rgba(110, 109, 109,.5);
    position: absolute;
    top: 0;
    width: 100%;
}
/* .navbar {
    padding: 0 !important;
}
.nav-item {
    padding-right: 50px;
}
.nav-link{
    color: white !important; 
} */
.navbar-logo {
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding-left: 50px;

}


.cover {
    background-image: url("img/foto1.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    padding: 70px 0;

    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.carousel-item img {
    width: 300px !important;
    height: initial !important;
    border: initial !important;
    border-radius: 0 !important;
}
.carousel{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
}
.carousel-item p {
    width: 80% !important;
}

.cover p span {
    background-color: rgb(240, 74, 14);
}

.proposal {
    padding: 40px 0 200px 0;
    background-image: url("img/foto2.png");
    background-size: cover;
    background-position: center;
    
    text-align: center;
}
.proposal h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}
.proposal p {
    width: 60%;
    color: white;
}
/* Contenido de las recomendaciones y el menu */
.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.caja {
    width: 40%;
}
.menu {
    width: 50%;
}
/* Estilos de la seccion de eventos*/
.content-event {
    background-image: url("img/foto3.png");
    background-size: cover;
    background-position: center;

    padding: 40px 30px 30px 60px;
    /* color: white; */
}
.card {
    background-color: initial !important;
}
.container {
    text-align: center;
}
.content-event b {
    font-size: 40px;
    color: white;
}
.content-event p {
    color: white;
}

.content-event img {
    width: 100px;
}


/* Estilos del Slider */
.carousel-item {
    text-align: center;
}
.carousel-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(190, 190, 190);
    padding: 5px;
}
.carousel-item p {
    width: 50%;
    display: inline-block;
    padding: 0 50px;
}
/* .carousel-control-prev-icon {
    background-image: url("img/flecha-izquierda.png") !important;
    width: 80px !important;
    height: 85px !important;
}
.carousel-control-next-icon {
    background-image: url("img/flecha-derecha.png") !important;
    width: 80px !important;
    height: 85px !important;
} */

/* Estilos del Footer*/
footer {
    width: 100%;
    background-color: rgb(49, 1, 1);
}
footer img {
    width: 200px;
    padding: 20px;
    margin-right: 50px;
}
footer div {
    display: inline-block;
    width: 40%;
    text-align: center;
    vertical-align: middle;
    padding: 20px 30px;
}

footer iframe {
    padding-top: 30px;
}
.container {
    width: 40%;
    min-width: 300px;
    color: white;
}
.row-cols-3 {
    width: 100%;
}
.col {
    min-width: 100px;
    text-align: initial;
}
.col-10 {
    padding: initial;
    padding-bottom: 5px;
}
